
/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Comon Styles */
body{
    font-family: 'Poppins', sans-serif;
}

/*------------ animation ------------*/
@keyframes positiony {
    0%{
        left: 0;
    }
    50%{
        left: 50px;
    }
    100%{
        left: 0;
    }
}


.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


/* Header section styles */
.container{
    background-color: black;
    margin: auto;
    width: 80%;
    border-radius: 10px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.header-elements{
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 50px;
}

.header-title{
    color: white;
    font-size: 70px;
    line-height: 80px;
}

.header-texts{
    color: white;
    font-size: 16px;
    line-height: 26px;
}
.Header-button{
    background-color: white; 
    color:#4CAF50; 
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-size: 20px;
}

.Header-button:hover{
    background-color: #4CAF50;
    color: white;
}
.banner-img{
    width:100%;
    display: block; 
    vertical-align: middle;
    position: relative;
    animation: positiony 8s infinite;
}

/* End of the header sectio */

/* Start main section  */

.main-conatainer{
    display: flex;
    
}
.nav-button{
    background-color: white; 
    color:#4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-size: 20px;
}

.active, .nav-button:hover{
    background-color: #4CAF50;
    color: white;
}
.box{
    background-color: black;
    width: 312px;
    height: 290px;
    margin-left: 80px;
    border-radius: 10px;
}

.nav-buttons{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}


.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 20px;
}
.blog{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    width: 312px;
}

.button-small {
    border: none;
    color: white;
    padding: 8px 22px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.blog-button{
    background-color: white; 
    color:black;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.small-margin{
    padding-left: 20px;

}

.social-items i{
    color: gray
}


.dispaly{
    display: none;
}

/* End of the main section  */

/*------------------------------------------
Start footer section 
----------------------------------------- */

.footer-container{
    background-color: black;
    width: 100%;
    padding-bottom: 50px;
}

.footer-container h1{
    color: white;
    text-align: center;
    padding-top: 40px;
  
}

.hr-items{
    width: 90%;
    margin: auto;
    color: gray;
}

.list-item{
    text-decoration: none;
    color: white;
}
.nav-items ul{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}


/* Footer section End  */


/*----------------
 Media queries 
----------------*/

/* For Mobiles */

@media screen and (max-width: 668px){
    .header-elements{
        display: block;

    }
    .header-title{
        color: white;
        font-size: 22px;
        line-height: normal;
    }
    .header-texts{
        color: white;
        font-size: 14px;
        line-height: normal;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .main-conatainer {
        display: flex;
        flex-direction: column;
    }
    .box{
        background-color: white;
        margin-left: 0px;
    }

    .blogs {
        display: flex;
        flex-direction: column;
    }
    .main-conatainer{
        align-items: center;
    }
    .nav-buttons{
        justify-items: center;
        padding-top: 0px;
        margin-top: -15px;
    }
    .nav-items ul{
        flex-direction: column;
        margin-left: -38px;
    }
}

/* Mobiles End  */

/* Tablet Devices */

@media only screen and (min-width: 688px) and (max-width: 1180px){
    .main-conatainer{
        flex-direction: column;
    }
    .nav-buttons{
        display: flex;
    
    }
    .box {
        background-color: white; 
        height: 160px;
        margin-top: -81px;
    }
    .nav-button{
        margin-right: 50px;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-img {
        padding-top: 440px;
        width: 100%;
        display: block;
    }

    .dispaly{
        display: block;
        width: 200px;
        margin: 0 auto;
    }
    
}